.clearfix {
    clear: both;
    display: inline-block;
}

body {
    font-family: Verdana sans-serif;
}

header {
    width: 1066px;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

.background {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 1366px;
    min-width: 1066px;
    margin-right: auto;
    margin-left: auto;
    height: 768px;
}

/*------------------------------HEADER------------------------------------------
-------------------------------------------------------------------------------*/

.header-logo {
    margin: 49px 0;
    width: 17%;
}

.header-description {
    float: right;
    margin: 54px 0;
    text-align: right;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: right;
}

.Logo {
    background-image: url(../img/logo.png);
    width: 46px;
    height: 44px;
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.MILAN {
    font-size: 29px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
}

.HOLIDAYS {
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;


}


/*-----------------------------------SECTION------------------------------------
-------------------------------------------------------------------------------*/

.photo-section {
    margin-left: 152px;
    /*margin-top: 30px;*/
}

.block-img {
    float: left;
    margin-right: 69px;
    margin-bottom: 58px;
}

.photo {

    width: 307px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid;
    border-image: linear-gradient(to top, black, white) 2;
    position: relative;
    overflow: hidden;

}

.price {
    display: inline-block;
    color: white;
    position: absolute;
    padding: 31px 0 17px 0;
    background-color: #f26522dd;
    width: 100%;
    bottom: -33%;
    transition: .4s;
    padding-left: 30px;
}


.block-img:hover .price {
    bottom: 0px;
    bottom: 0%;
}


.main-img {
    height: 200px;
    overflow: hidden;
}

.photo-text-box {
    display: inline-block;
}


.photo-text {
    text-align: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    /* padding-bottom: 55px; */
}


.main-photo:hover .photo-text {
    color: #f26522dd;
}


.price::after {
    content: '\20AC';
    left: 20px;

}

.price::before {
    position: absolute;
    top: 20px;
    left: 20px;
    content: 'from';
    font-size: 10px;
}


.photo-link {
    text-decoration: none;
}

.price-text {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.price-details {
    position: absolute;
    bottom: 18px;
    padding-left: 125px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}


.price-details::after {
    content: '\203A';
    position: absolute;
    bottom: -3px;
    right: -28px;
    font-size: 20px;
}

/*-----------------------------------FOOTER------------------------------------
-------------------------------------------------------------------------------*/

.footer-description {
    margin: 0 auto;
    text-align: center;
    width: 1066px;
}


.copyright {
    font-size: 12px;
    color: rgb(255, 255, 255);
}


/*-----------------------------------INTERACTIVE--------------------------------
-------------------------------------------------------------------------------*/



.Logo:hover {
    background-image: url("../img/logo_o.png");
}
